 <div class="col-sm-3 col-lg-2 col-sm-push-9 col-lg-push-10">
	<nav class="navbar navbar-default navbar-fixed-side">
		<a class="btn btn-default btn-login" href="/#!/login">Log in <span class="tomato-color">/</span> Register</a>
		<h3 class="title-cart">Shopping cart</h3>
		<ul class="cart-container"  ng-repeat="product in cart">
			<li class="cart-item">
				<div class="item-data clearfix">
					<div class="item-name">{{ product.name }} <span ng-show="product.amount > 1">({{product.amount}}x)</span></div>
					<div class="item-price">{{ product.price }} DKK</div>
				</div>
			</li>
			<li class="cart-item cart-total" ng-if="$last">
				<div class="item-data clearfix">
					<div class="item-name">Total</div>
					<div class="item-price">{{ total }} DKK</div>
				</div>
			</li>
		</ul>
		<div ng-if="total > 0">
			<button class="btn btn-checkout" ng-click="checkout()">Checkout &rarr;</button>
			<br>
			<span class="login-message" ng-if="(!authenticated && authMessage)">Please <a href="/#!/login">log in</a> first</span>
		</div>
	</nav>
</div>
<div class="col-sm-9 col-lg-10 col-sm-pull-3 col-lg-pull-2 product-container">
    <div class="card" ng-repeat="product in products" >
        <div class="card-image">
            <img class="img-responsive" ng-src="{{ product.image }}">
        </div>
        
        <div class="card-content">
            <span class="card-title">{{ product.name }}</span>
            <p>{{ product.description }}</p>
        </div>
        
        <div class="card-action">
            <a href ng-click="addToCart($index)">Buy for {{ product.price }} DKK</a>
        </div>
    </div>
</div>